[Desktop Entry]
Type=Application
Name=Arboretum
Comment=Wahrscheinlichkeitsbäume erstellen und bearbeiten
Exec=/home/fair/Programme/Arboretum/arboretum %f
TryExec=/home/fair/Programme/Arboretum/arboretum
Path=/home/fair/Programme/Arboretum
Icon=arboretum
Terminal=false
Categories=Education;
MimeType=application/x-arboretum-bdg;
StartupNotify=true
